<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="contacts.menu_contacts" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [
                ref('permisos_usuarios.group_contact_readonly'),
                ref('permisos_usuarios.group_contact_editor')
            ])]"/>
        </record>
        <record id="base.menu_management" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [
                ref('permisos_usuarios.group_apps_manager')
            ])]"/>
        </record>
        <record id="spreadsheet_dashboard.spreadsheet_dashboard_menu_root" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [
                ref('permisos_usuarios.group_dashboard_user')
            ])]"/>
        </record>
        <record id="modulo_recetas.menu_recetas_root" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [
                ref('permisos_usuarios.group_recetas_viewer')
            ])]"/>
        </record>
    </data>
</odoo>